version: '3.8'

services:
  mysql:
    image: mysql
    container_name: mysql
    restart: always
    env_file: .env
    ports:
      - '3306:3306'
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis
    ports:
      - '6378:6379'
    restart: always

volumes:
  mysql_data:
